@charset "utf-8";
/* CSS Document */
a{
	color:brown;
	text-decoration:none;
	background-color:green;
}
a:hover{color:white;
	background-color:red;
	font-size:30px;
	font-weight:bold;
}



